
header{
	width: 100vw;
	height:50vw;
	background:url(../img/login-back.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%
}
header img{
	width: 20vw;
	height: 20vw;
}

.tel{
	display: inline-block;
	padding: 2vh 0vh;
	width: 80vw;
	border-radius: 2vw;border:1px solid #e8e8e8;
	margin: 6vh 0vh 3vh 
}

.code input{
	display: inline-block;
	padding: 2vh 0vw;
	width: 42vw;
	border-radius: 2vw;
	margin-right: 3vw;
	border:1px solid #e8e8e8;
}
.code button{
	display: inline-block;
	padding: 2vh 0vw;
	width: 35vw;
	border-radius: 2vw;border:1px solid #e8e8e8;
	background:transparent;
}

.login{
	width: 80vw;
	padding: 2vh 0vw;
	color: #fff;
	background:#67C1BF;
	margin: 3vh auto ;
	border-radius: 2vw;
}

.wx-login p{
	color: #B2B2B2	
}
.wx-login img{
	width: 15vw;
	margin-top: 3vh
}