article{
	background:#F3F5F9;
	height: 100vh;
}
.list{
	border-radius: 2vw;
	margin-bottom:2vh
}
.data-img{
	width: 12vw;
	height: 8vw;
	margin-right: 4vw;
}
.data-img img{
	width: 100%;
	height: 100%;
}
.number{
	color: #67C1BF
}